<h1>Welcome to Battle!</h1>

<form action='/names' method='post'>

  <div>
    <label for='player1'>  Player 1: Enter your name</label>
    <input type='text' name='player1'>
  </div>

  <div>
    <label for='player2'>Player 2: Enter your name</label>
    <input type='text' name='player2'>
  </div>

  <!-- <h3></h3> -->
  <input type='submit' value='SET IT OFF!'>

</form>
