<div>
  <p><%= @player1.name %> vs. <%= @player2.name %></p>
</div>

<div>
  <p><%= @player2.name %> hit points: <%= @player2.hit_points %>HP</p>
</div>

<form action='/attack'>>
  <input type='submit' value='Player 1 Attack!'>
</form>
